.React__checkbox_input {
	display: none;
}

.React__checkbox_input + .span {
	color: red;
	display: flex;
	width: 35px;
	height: 35px;
	background: #bbbbbb;
	align-items: center;
	justify-content: center;
	color: white;
	margin: 5px;
	border: 0px solid #3acf8a;
	border-radius: 5px;
	box-sizing: border-box;
	transition: all 150ms;
}
.React__checkbox_input:checked + .span {
	border-width: 18px;
}
.React__checkbox_input:checked + .span::before {
	content: "";
	font-family: "Material Icons";
	font-size: 25px;
	color: black;
}
.React__checkbox_input:disabled + .span {
	background: rgba(0, 0, 0, 0.35);
}
